body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3%;
  color: #FEF2BF;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.instructions-container {
  display: block;
  width: 30%;

  margin: auto;
}

.instruction-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
  text-decoration: underline;
}

.instructions {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.instruction-point {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  6%;
  color: #FEF2BF;
}

.buttons-container {
  display: block;
  width: 40%;
  /* margin: auto; */

}

.high-score-container {
  display: flex;
  width: 30%;
  margin: auto;
}

.high-score-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}

#high-score {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
